@charset "UTF-8";

.row div{
  padding-top: 1%;
  display: inline-block;
  border-bottom-style: double;
  border-width: 1px;
  width: 16%;
}

.buttons div{
	border-top: 10px solid purple;
	border-left: 7px solid pink;
	border-bottom: 7px solid pink;
	border-right: 7px solid pink;
	padding: 15px;
	wdith: 275px;
}


#content {
  min-width: 50%;
}